## 22.5 Homework

Choose a dataset from [UC Irvine Machine Learning Repository!](http://archive.ics.uci.edu/ml/index.php) and apply the Kneighbour algorithm to do classification.

In [19]:
from sklearn.datasets import load_wine
dataset = load_wine()
X = dataset.data
Y = dataset.target

In [23]:
from sklearn.model_selection import train_test_split
import pandas as pd
from collections import OrderedDict

X_train, X_test, y_train, y_test = train_test_split(X, Y)

dataset = load_wine()
X = dataset.data
Y = dataset.target

Wine_data = OrderedDict({'Sepal Length ': X[:,0],
             'Sepal Width': X[:,1],
             'Petal Length': X[:,2],
             'Petal Width': X[:,3],
             'Label': Y})

df = pd.DataFrame(Wine_data)
df

     Sepal Length   Sepal Width  Petal Length  Petal Width  Label
0            14.23         1.71          2.43         15.6      0
1            13.20         1.78          2.14         11.2      0
2            13.16         2.36          2.67         18.6      0
3            14.37         1.95          2.50         16.8      0
4            13.24         2.59          2.87         21.0      0
..             ...          ...           ...          ...    ...
173          13.71         5.65          2.45         20.5      2
174          13.40         3.91          2.48         23.0      2
175          13.27         4.28          2.26         20.0      2
176          13.17         2.59          2.37         20.0      2
177          14.13         4.10          2.74         24.5      2

[178 rows x 5 columns]

In [30]:
len(X_train)

133

In [31]:
len(X_test)

45

In [32]:
from sklearn.neighbors import KNeighborsClassifier
estimator = KNeighborsClassifier()

In [33]:
import numpy as np

estimator.fit(X_train, y_train)

KNeighborsClassifier()

In [36]:
y_predicted = estimator.predict(X_test)

#test the accuracy
accuracy = np.mean(y_test == y_predicted) *100
print("The accuracy is {0:.1f}%".format(accuracy))

The accuracy is 57.8%

In [37]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(estimator, X, Y, scoring = 'accuracy')
average_accuracy = np.mean(scores)*100
print("The accuracy is {0:.1f}%".format(average_accuracy))

The accuracy is 69.1%