### 23.5 One Rule Algorithm

In the above section, we have developed a simple classifier based on the graph analysis, which could almost reach 100 % of success rate. However, this is not machine learning! What we really want is to let computer find the rule automatically. 
So we need a more automtated algorithm.

#### 23.5.1 Discetization

Unlike human, computers like discrete number!
It is usally useful to transform the data from continuous numbers to the discrete numbers. The simplest way is to 
take the average value, set all the values which are lower than the mean as 0, and all the values higher than mean as 1. This could be simply done by one line with the help of numpy.

After we have the table, we can apply "One Rule" algorithm based on the frequency, which a simple, yet accurate, classification algorithm based on one rule. 

The algorithm is the following. 
- 1, For each predictor,
     - 1.1 For each value of that predictor, make a rule as follows;
           - 1.1.1 Count how often each value of target (class) appears
           - 1.1.2 Find the most frequent class
           - 1.1.3 Make the rule assign that class to this value of the predictor
     - 1.2 Calculate the total error of the rules of each predictor
- 2, Choose the predictor with the smallest total error.

http://www.saedsayad.com/oner.htm



### 23.6 Homework 

Complete the One Rule Algorithm

In [1]:
#original data
import numpy as np
from collections import OrderedDict
import pandas as pd
from sklearn.datasets import load_iris

dataset = load_iris()
X = dataset.data
Y = dataset.target

Iris_data = OrderedDict({'Sepal Length ': X[:,0],
             'Sepal Width': X[:,1],
             'Petal Length': X[:,2],
             'Petal Width': X[:,3],
             'Label': Y})

df = pd.DataFrame(Iris_data)
df

     Sepal Length   Sepal Width  Petal Length  Petal Width  Label
0              5.1          3.5           1.4          0.2      0
1              4.9          3.0           1.4          0.2      0
2              4.7          3.2           1.3          0.2      0
3              4.6          3.1           1.5          0.2      0
4              5.0          3.6           1.4          0.2      0
..             ...          ...           ...          ...    ...
145            6.7          3.0           5.2          2.3      2
146            6.3          2.5           5.0          1.9      2
147            6.5          3.0           5.2          2.0      2
148            6.2          3.4           5.4          2.3      2
149            5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [2]:
#discretized data
X_dd = np.array( X>X.mean(), dtype='int')

Iris_data_d = OrderedDict({'Sepal Length ': X_dd[:,0],
             'Sepal Width': X_dd[:,1],
             'Petal Length': X_dd[:,2],
             'Petal Width': X_dd[:,3],
             'Label': Y})

ddf = pd.DataFrame(Iris_data_d)
ddf

     Sepal Length   Sepal Width  Petal Length  Petal Width  Label
0                1            1             0            0      0
1                1            0             0            0      0
2                1            0             0            0      0
3                1            0             0            0      0
4                1            1             0            0      0
..             ...          ...           ...          ...    ...
145              1            0             1            0      2
146              1            0             1            0      2
147              1            0             1            0      2
148              1            0             1            0      2
149              1            0             1            0      2

[150 rows x 5 columns]

In [3]:
# I didn't trust the x avg so i did it myself

X_d = np.zeros((150,4), dtype=int)

avg_0=0.0
avg_1=0.0
avg_2=0.0
avg_3=0.0

for i in range(len(X)):
    avg_0 += X[i,0]
    avg_1 += X[i,1]
    avg_2 += X[i,2]
    avg_3 += X[i,3]
    
avg_0=avg_0/150
avg_1=avg_1/150
avg_2=avg_2/150
avg_3=avg_3/150
    

for i in range(len(X)):
    if(X[i,0]>=avg_0):
        X_d[i,0]+=1
        
    if(X[i,1]>=avg_1):
        X_d[i,1]+=1
        
    if(X[i,2]>=avg_2):
        X_d[i,2]+=1
        
    if(X[i,3]>=avg_3):
        X_d[i,3]+=1
        
#     print(X_d[i,0],X_d[i,1],X_d[i,2],X_d[i,3])

In [16]:
#col 0=sepal length, 1=S_width, 2=P_length, 3=p_width

# set_oneR = [0,0,0,0]
set_slen = 0
ver_slen = 0
veir_slen = 0

for i in range(len(X_d)):
    if(Y[i]==0):
        set_slen += X_d[i,0]
        
    if(Y[i]==1):
        ver_slen += X_d[i,0]
    
    if(Y[i]==2):
        veir_slen += X_d[i,0]
    

print("for Sepal length")
print("Setosa total: ", set_slen)
print("Versicolor total: ", ver_slen)
print("veirginica total: ", veir_slen)

for Sepal length
Setosa total:  0
Versicolor total:  26
veirginica total:  44

In [17]:
set_swidth = 0
ver_swidth = 0
veir_swidth = 0

for i in range(len(X_d)):
    if(Y[i]==0):
        set_swidth += X_d[i,1]
        
    if(Y[i]==1):
        ver_swidth += X_d[i,1]
    
    if(Y[i]==2):
        veir_swidth += X_d[i,1]
    
print("for Sepal width")
print("Setosa total: ", set_swidth)
print("Versicolor total: ", ver_swidth)
print("veirginica total: ", veir_swidth)

for Sepal width
Setosa total:  42
Versicolor total:  8
veirginica total:  17

In [18]:
set_plen = 0
ver_plen = 0
veir_plen = 0

for i in range(len(X_d)):
    if(Y[i]==0):
        set_plen += X_d[i,2]
        
    if(Y[i]==1):
        ver_plen += X_d[i,2]
    
    if(Y[i]==2):
        veir_plen += X_d[i,2]
    
print("for Petal length")
print("Setosa total: ", set_plen)
print("Versicolor total: ", ver_plen)
print("veirginica total: ", veir_plen)

for Petal length
Setosa total:  0
Versicolor total:  43
veirginica total:  50

In [20]:
set_pwidth = 0
ver_pwidth = 0
veir_pwidth = 0

for i in range(len(X_d)):
    if(Y[i]==0):
        set_pwidth += X_d[i,3]
        
    if(Y[i]==1):
        ver_pwidth += X_d[i,3]
    
    if(Y[i]==2):
        veir_pwidth += X_d[i,3]
    
print("for Petal width")
print("Setosa total: ", set_pwidth)
print("Versicolor total: ", ver_pwidth)
print("veirginica total: ", veir_pwidth)

for Petal width
Setosa total:  0
Versicolor total:  40
veirginica total:  50

So the best thing to choose for Setosa is to look at sepal width,\
for Veirginica its best to sepal length,\
and finally if it has neither, than set it to Versicolor

In [28]:
# set_guess = 0
# ver_guess = 0
# veir_guess = 0

guess = np.zeros(3, dtype=int)

for i in range(len(X_d)):
    if(X_d[i,1]==1):
        guess[0] += 1
        
    elif(X_d[i,0]==1):
        guess[2] += 1
    else:
        guess[1] += 1

#also im just going to normalize the Y array to count the number of things

answer = np.zeros(3, dtype=int)
for j in range(len(Y)):
    if(Y[j]==0):
        answer[0] += 1
    if(Y[j]==1):
        answer[1] += 1
    if(Y[j]==2):
        answer[2] += 1

print(guess)
print(answer)

[67 38 45]
[50 50 50]

So in total we got 77 correct out of 150 or 51.3% which isn't very good, but its better than random chance which would have been 33.3%